@import "../base/var";
@import "../base/mixin";

.btn {
  background: $colorLight;
  border-radius: 5rem;
  transition: $transition;
  position: relative;
  &_animated {
    animation: btnToUp 1.4s ease .8s;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
  }
  & > a {
    @include linkStyle;
    padding: 1.5rem 4rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: .5rem;
  }
  &:hover {
    transform: translateY(-.7rem);
    filter: drop-shadow(0rem .4rem .4rem rgba(0, 0, 0, 0.5));
    &::before {
      transform: scale(1.4, 1.7);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-.3rem);
    filter: drop-shadow(0rem .4rem .4rem rgba(0, 0, 0, 0.2));
  }
  &::before {
    content: "";
    background: $colorLight;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5rem;
    left: 0;
    top: 0;
    z-index: -1;
    transform: scale(1);
    transition: $transition;
  }
}

.btn-info {
  display: inline-block;
  font-weight: 700;
  color: $colorBtn;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: .2rem;
  padding: 1.1rem .4rem 1.5rem .8rem;
  border-bottom: 1px solid $colorBtn;
  transition: $transition;
  &:hover {
    background: $colorBtn;
    color: $colorLight;
    filter: drop-shadow(0rem .4rem .4rem rgba(0, 0, 0, 0.2));
    transform: translateY(-.2rem);
  }
  &:active {
    transform: translateY(0rem);
  }
}