section.about
    div.about__container
        h2.about__title.title НЕВЕРОЯТНОЕ ОЩУЩЕНИЕ СВОБОДЫ
        div.about__content.row
            div.col-1-of-2.about__item.item-about
                div.item-about__inner
                    h3.item-about__title.subtitle ПОЗВОЛЬТЕ СЕБЕ ПРИКЛЮЧЕНИЕ
                    p.item-about__text.text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрениям и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
                div.item-about__inner
                    h3.item-about__title.subtitle ВВЕРХ НА 6000 МЕТРОВ НАД УРОВНЕМ МОРЯ
                    p.item-about__text.text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
                a(href="#").item-about__btn.btn-info Узнать больше &rarr;
            div.col-1-of-2.about__images.images-about
                div.images-about__image
                    img(src="img/about/about-balloon1.jpg", alt="photo balloon 1")
                div.images-about__image
                    img(src="img/about/about-balloon2.jpg", alt="photo balloon 2")
                div.images-about__image
                    img(src="img/about/about-balloon3.jpg", alt="photo balloon 3")