section.advantage
    div.advantage__container
        div.row.advantage__inner
            div.col-1-of-4.advantage__item.item-advantage
                i.icon-earth.item-advantage__icon
                h3.item-advantage__title.subtitle ПРИКЛЮЧЕНИЕ
                p.item-advantage__text.text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            div.col-1-of-4.advantage__item.item-advantage
                i.icon-map.item-advantage__icon
                h3.item-advantage__title.subtitle ПРИКЛЮЧЕНИЕ
                p.item-advantage__text.text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            div.col-1-of-4.advantage__item.item-advantage
                i.icon-compass.item-advantage__icon
                h3.item-advantage__title.subtitle ПРИКЛЮЧЕНИЕ
                p.item-advantage__text.text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных
            div.col-1-of-4.advantage__item.item-advantage
                i.icon-way.item-advantage__icon
                h3.item-advantage__title.subtitle ПРИКЛЮЧЕНИЕ
                p.item-advantage__text.text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных