section.advantage
    div.advantage__container
        div.row.advantage__inner
            div.col-1-of-4.advantage__item.item-advantage
                div.item-advantage__icon
                    i.icon-earth
                h3.item-advantage__title.subtitle ПРИКЛЮЧЕНИЕ
                p.item-advantage__text.text Задача организации, в особенности же дальнейшее развитие различных в особенности же развитие различных