section.promo
    div.promo__wrapper
        a(href="index.html").promo__logo
            img(src="img/promo/logo.svg", alt="Логотип воздушного шара")
        div.promo__burger.burger
            div.burger__inner
                span
        div.promo__inner
            h1.promo__title
                span.promo__title_main ТУРЫ НА ВОЗДУШНОМ ШАРЕ
                span.promo__title_secondary незабываемое приключение ждет вас
            div.promo__btn.btn.btn_animated
                a(href="#") НАШ КАТАЛОГ
