section.reviews
    div.reviews__container
        h2.reviews__title.title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
        div.reviews__inner
            figure.reviews__item.item-reviews
                div.item-reviews__wrapper
                    div.item-reviews__avatar
                        img(src="img/reviews/avatar1.png", alt="The first person")
                        figcaption.item-reviews__name ИВАН РЯБИН
                    div.item-reviews__content
                        h3.item-reviews__title Я ПОЛУЧИЛ МАССУ ВПЕЧАТЛЕНИЙ
                        p.item-reviews__text.text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
            figure.reviews__item.item-reviews
                div.item-reviews__wrapper
                    div.item-reviews__avatar
                        img(src="img/reviews/avatar2.png", alt="The second person")
                        figcaption.item-reviews__name ЛИЗА ФРОЛОВА
                    div.item-reviews__content
                        h3.item-reviews__title ЭТО БЫЛО ВЕЛИКОЛЕПНО И НЕЗАБЫВАЕМО
                        p.item-reviews__text.text Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
        div.reviews__btn_wrapper
            div.reviews__btn.btn
                a(href="#") ЗАБРОНИРОВАТЬ
