section.tours
    div.tours__container
        h2.tours__title.title НАИБОЛЕЕ ПОПУЛЯРНЫЕ ТУРЫ
        div.row.tours__inner
            div.col-1-of-3.tours__item.item-tours
                div.item-tours__side.item-tours__vis
                    div.item-tours__img.item-tours__img_first
                    h3.item-tours__title <span>ГРУППОВЫЕ</span> </br> <span>ТУРЫ</span>
                    ul.item-tours__info
                        li.item-tours__text Группы от 6 человек
                        li.item-tours__text Продолжительность 2 час
                        li.item-tours__text В группе 1 гид
                        li.item-tours__text Дальность полета 6км
                        li.item-tours__text Бесплатные сувениры
                div.item-tours__side.item-tours__hide
                    div.item-tours__cost ПОЛНАЯ СТОИМОСТЬ:
                    div.item-tours__price 5990₽
                    div.item-tours__btn.btn
                        a(href="#") Забронировать
            div.col-1-of-3.tours__item.item-tours
                div.item-tours__side.item-tours__vis
                    div.item-tours__img.item-tours__img_second
                    h3.item-tours__title <span>ЧАСТНЫЕ</span> </br> <span>ТУРЫ</span>
                    ul.item-tours__info
                        li.item-tours__text Группы от 6 человек
                        li.item-tours__text Продолжительность 2 час
                        li.item-tours__text В группе 1 гид
                        li.item-tours__text Дальность полета 6км
                        li.item-tours__text Бесплатные сувениры
                div.item-tours__side.item-tours__hide
                    div.item-tours__cost ПОЛНАЯ СТОИМОСТЬ:
                    div.item-tours__price 5990₽
                    div.item-tours__btn.btn
                        a(href="#") Забронировать
            div.col-1-of-3.tours__item.item-tours
                div.item-tours__side.item-tours__vis
                    div.item-tours__img.item-tours__img_third
                    h3.item-tours__title <span>СМОТРОВЫЕ</span> </br> <span>ПЛОЩАДКИ</span>
                    ul.item-tours__info
                        li.item-tours__text Группы от 6 человек
                        li.item-tours__text Продолжительность 2 час
                        li.item-tours__text В группе 1 гид
                        li.item-tours__text Дальность полета 6км
                        li.item-tours__text Бесплатные сувениры
                div.item-tours__side.item-tours__hide
                    div.item-tours__cost ПОЛНАЯ СТОИМОСТЬ:
                    div.item-tours__price 5990₽
                    div.item-tours__btn.btn
                        a(href="#") Забронировать
        div.tours__wrapper_btn
            div.tours__btn.btn
                a(href="#") Забронировать