@import "../base/var";

@mixin linkStyle {
  display: block;
  color: $colorText;
  text-transform: uppercase;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}