$colorText: #777777;
$colorBtn: #BA8554;
$colorLight: #ffffff;
$colorDark: #000000;
$colorMain: #445161;
$fontMain: "Lato", sans-serif;
$fontMenu: "Inter", sans-serif;
$maxWidthContainer: 1150;
$minWidth: 320px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
