@import "../base/var";
@import "../base/mixin";

.row {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $marginVerticalBig;
  }
  @include clearfix;
}

.col-1-of-2 {
  width: calc((100% - #{$gapHorizontal}) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * #{$gapHorizontal}) / 3);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * #{$gapHorizontal}) / 3) + #{$gapHorizontal});
}

.col-1-of-4 {
  width: calc((100% - 3 * #{$gapHorizontal}) / 4);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * #{$gapHorizontal}) / 4) + #{$gapHorizontal});
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * #{$gapHorizontal}) / 4) + 2 * #{$gapHorizontal});
}


[class^="col-"] {
  &:not(:last-child) {
    margin-right: $gapHorizontal;
  }
  float: left;
}