doctype html
html(lang="ru")
	include modules/head.pug
	body
		div.wrapper
			main.page
				include modules/promo.pug
				div.content
					include modules/about.pug
					include modules/advantage.pug
				include modules/footer.pug
